[Desktop Entry]
Type=Application
Name=WiiBridge
Comment=Connect and remap Wii Remotes (including clones) without an emulator
Exec=wiibridge
Icon=wiibridge
Categories=Utility;Game;
Terminal=false
